# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.log.*
/tmp
.DS_Store
*.sql
solr
coverage
doc
rdoc
brakeman-output.tabs
rvm.env
*.bak

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

spec/out.html
.coveralls.yml

application.yml

public/assets

*.pid
