<% if delayed_jobs_running? %>
<h2>Uploading CSV file. Refresh periodically.</h2>
<div class="progress progress-striped active" style="width: 50%">
  <div class="bar" style="width: 100%;"></div>
</div>
<% end %>

<%= form_tag({:action => :upload}, :multipart => true, :class => "form-upload well well-sm") do %>
  <h5>Batch upload records from CSV file</h5>
  <%= file_field_tag 'csv', :size => 10 %><br />
  <button type="submit" class="btn btn-default">
    <i class="glyphicon glyphicon-upload"></i> Upload
  </button>
<% end %>
