<h1>Editing record</h1>

<%= render 'form' %>

<br />

<%= link_to @record, class: "btn btn-link" do %>
  <i class="glyphicon glyphicon-search"></i> Edit
<% end %>
<%= link_to records_path, class: "btn btn-link" do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>
